.numbers {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  gap: 1rem;
}
.number {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8px;
  color: whitesmoke;
  background: linear-gradient(270deg, #3d2fff, #5079ff);
  font-size: 48px;
}
