.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.number {
  height: 100px;
  width: 100px;
  font-weight: 800;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60% 80%;
}

.number span {
  font-size: 32px;
  background: linear-gradient(225deg, rgb(199, 56, 56), rgb(226, 198, 39));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
