<div class="col-span-1 p-8 font-semibold text-white md:col-span-3 drop-shadow">
  <h1 class="mb-4 text-4xl font-bold">Education</h1>
  <div class="flex flex-col gap-6">
    <div class="transition duration-500 cursor-default hover:drop-shadow-lg">
      <h2 class="flex items-center gap-3 text-2xl">
        Master of Computer Applications
      </h2>
      <div class="ml-4 font-semibold">
        <p class="">L J Institute of Computer Applications | July 2022</p>
        <p>Gujarat Technological University</p>
      </div>
    </div>
    <div class="transition duration-500 cursor-default hover:drop-shadow-lg">
      <h2 class="flex items-center gap-3 text-2xl">
        Bachelor of Computer Applications
      </h2>
      <div class="ml-4 font-semibold">
        <p class="">Som-Lalit Institute of Computer Applications | Sept 2020</p>
        <p>Gujarat University</p>
      </div>
    </div>
    <div class="transition duration-500 cursor-default hover:drop-shadow-lg">
      <h2 class="flex items-center gap-3 text-2xl">HSC</h2>
      <div class="ml-4 font-semibold">
        <p class="">Seth A. H. Saraswati Vidyalaya | March 2017</p>
        <p>GSHSEB</p>
      </div>
    </div>
    <div class="transition duration-500 cursor-default hover:drop-shadow-lg">
      <h2 class="flex items-center gap-3 text-2xl">SSC</h2>
      <div class="ml-2 font-semibold">
        <p>Seth A. H. Saraswati Vidyalaya | March 2015</p>
        <p>GSHSEB</p>
      </div>
    </div>
  </div>
</div>
