<div class="col-span-1 p-8 font-semibold text-white md:col-span-3 drop-shadow">
  <h1 class="mb-5 text-4xl font-bold">Technical Skills</h1>
  <div class="grid grid-cols-4 gap-4">
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-html5"></span>HTML
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-css3"></span>CSS
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-js"></span>Javascript
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-git-alt"></span>Git
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-node-js"></span>NodeJS
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 fa-solid fa-server"></span>SQL
    </h2>
    <h2
      class="flex items-center text-3xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="mr-3 text-6xl fa-brands fa-bootstrap"></span>Bootstrap
    </h2>
  </div>
</div>
