<div class="col-span-1 p-8 font-semibold text-white md:col-span-3 drop-shadow">
  <h1 class="mb-3 text-4xl font-bold">Contact Information</h1>
  <div class="flex flex-col gap-3">
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-solid fa-phone"></span>Phone
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-solid fa-envelope"></span>Email
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-brands fa-linkedin"></span>LinkedIn
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-brands fa-github"></span>Github
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-brands fa-twitter"></span>Twitter
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-brands fa-facebook"></span>Facebook
    </h2>
    <h2
      class="flex items-center gap-3 text-2xl transition duration-500 cursor-default hover:drop-shadow-lg"
    >
      <span class="icon fa-brands fa-instagram"></span>Instagram
    </h2>
  </div>
</div>
